<form>
  <div>
    <label for="name">What's your name?</label><br />
    <input id="name" name="name" placeholder="Pedro Penduko :)" />
  </div>
  <div>
    <label for="email">Email</label><br />
    <input id="email" name="email" type="email" />
  </div>
  <div>
    <label for="website">Website</label><br />
    <input id="website" name="website" type="url" />
  </div>
  <div>
    <label for="message">Message</label><br />
    <textarea id="message" name="message">
    hey...
    </textarea>
  </div>
</form>